@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --black: #000;
  --chinesesliver: #ccc;
  --completed: #00a27a;
  --cyan: #3e7d32;
  --green: #25d366;
  --dimgrey: #727272;
  --gold: #ffd700;
  --grey: #322f32;
  --lightGrey: #a7a2a2;
  --lightYellow: #ffffff8c;
  --purple: #5a3795;
  --white: #fff;
  --red: #ff0000;
  --rejected: #cf4f51;
  --successfully: #c2701b;
  --yellow: #e6c222;
}

/* Share CSS --> Here */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: var(--grey);
  /* Grey */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.flex {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.grid {
  row-gap: 20px;
}

.full {
  width: 100%;
}

.margin {
  margin-top: 35px;
}

.bigBox {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  grid-row-gap: 15px;
}

.box {
  position: relative;
  width: 100%;
  height: auto;
  padding: 20px;
  border-radius: 20px;
  background-color: var(--white);
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.tab-button {
  color: var(--grey);
  border: none;
  background-color: #fff;
  padding: 10px;
}

.tab-button.active {
  text-decoration: underline;
  text-decoration-color: var(--yellow);
}

/* Font Size & Color */
.title {
  color: var(--black);
}

.white {
  color: var(--white);
}

.big-title {
  font-weight: 700;
  font-size: 1.5rem;
}

.flex .big-title {
  font-size: 14px;

}

.flex .title {
  font-size: 10px;
}


.dollar {
  font-size: 2rem;
  color: var(--gold);
}

.content-text .content {
  font-size: 15px;
}

.history-row2 .data .white {
  font-size: 12px;
}

/* All Image Size or Layout */
.image {
  width: 150px;
  height: 150px;
}

.icon-image {
  width: 50px;
  height: 50px;
}

.home-icon {
  width: 55px;
  height: 65px;
}

.last-icon {
  padding-right: 20px;
}

.footer-image {
  width: 25px;
  height: 25px;
}

.profile-image {
  width: 45px;
  height: 45px;
  border-radius: 10px;
  background-color: var(--white);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.profile-image-border {
  width: 55px;
  height: 55px;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--white);
}

/* Whole Layout Container */
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 576px;
}

/* Image */
.logo {
  margin-top: 20px;
}

/* Login, Register & landing Welcome Message */
.welcome {
  margin: 100px;
  color: var(--white);
  text-align: center;
  font-size: 25px;
}

.button {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.sign-up {
  background-color: var(--yellow);
  color: var(--grey);
  width: 350px;
  border-radius: 10px;
  padding: 16px 32px;
  text-align: center;
  display: inline-block;
  font-size: 1.0rem;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.sign-up a {
  text-decoration: none;
  color: var(--white);
}

.sign-up:active {
  background-color: var(--cyan);
}

.toggle-password {
  padding-top: 5px;
  padding-right: 10px;
}

/* Option and Home Profile Image */
.opt {
  display: flex;
  color: var(--white);
}

/* Forget Password & Create Account Link */
.link {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.link a {
  text-decoration: none;
  color: var(--white);
}

/* Login */
.login-title {
  margin: 50px;
  text-align: left;
}

.create-account {
  background-color: var(--purple);
}

.input-field {
  width: 100%;
  height: 60px;
  background-color: var(--white);
  border-radius: 10px;
  align-items: center;
  margin-bottom: 10px;
}

.withdraw-input-field {
  padding-top: 10px;
  height: 105px;
  width: 300px;
}

.personal-logout {
  background-color: var(--yellow);
}

.personal-padding {
  padding: 10px;

}

.input-field .withdraw-label {
  padding-left: 20px;
}

/* Register */
.register-text {
  margin: 50px;
  align-self: self-start;
  text-align: left;
  padding-left: 40px;
  color: var(--yellow);
}

.register-text-small {
  color: #ffffff8c;
  /* Grey with decreased Opacity*/
  font-size: 15px;
}

.formContainer {
  display: flex;
  flex-direction: column;
}

/* Register Error Message */
.errorMsg {
  color: var(--red);
  text-align: center;
}

/* All Input Field */
input[type="text"],
input[type="password"],
input[type="number"] {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 10px;
  resize: vertical;
  font-size: 1rem;
  margin: 10px;
  color: var(--lightGrey);
}

/* Register Checkbox */
.checkbox-field {
  margin: 10px;
}

.checkbox-field label {
  padding-left: 10px;
  color: var(--white);
}

.copy-icon {
  width: 25px;
  height: 25px;
}

.title .content {
  font-size: 12px;
}

/* Home */
.card {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.card .cardBox {
  position: relative;
  background: var(--white);
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: 2px solid var(--white);
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.card2 {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
}

.card2 .cardBox {
  position: relative;
  background: var(--white);
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: 2px solid var(--white);
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.card3 {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.card3 .cardBox {
  position: relative;
  background: var(--white);
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: 2px solid var(--white);
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.bank-margin {
  margin-left: 80px;
}

.withdraw-password-margin {
  margin-left: 80px;
}

.withdraw-password-fontsize {
  font-size: 15px;
}

/* Header */
.header {
  position: relative;
  top: 0;
  display: flex;
  flex-direction: column;
  align-self: start;
  margin: 10px;
}

.first-row {
  align-items: start !important;
}

.second-row {
  display: flex;
  margin-top: 20px;
}

.second-row .title {
  margin-left: 10px;
  font-size: 1.5rem;
  color: var(--white);
}

.third-row {
  align-self: flex-start;
  color: var(--white);
  margin-bottom: 35px;
  font-size: 13px;
}

/* Footer */
.footer {
  position: relative;
  bottom: 0;
  width: 70%;
  height: 60px;
  margin: 20px;
  color: var(--white);
  border-radius: 10px;
  border: 2px solid var(--white);
  align-items: center;
  line-height: 50px;
}

/* Footer Unorder-list */
.footer ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

.ul-list {
  color: var(--yellow);
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* Footer Home btn */
.btn {
  display: flex;
  flex-direction: row;
  border: 2px solid var(--white);
  height: 37px;
  border-radius: 20px;
  width: 35%;
  line-height: 90px;
  background-color: #fff;
  font-size: 12px;
}

.footer ul li {
  position: relative;
  list-style: none;
}

.footer ul li a {
  display: flex;
  text-decoration: none;
  align-items: center;
}

.footer ul li a .f-icon {
  position: relative;
  display: block;
  line-height: 10px;
  text-align: center;
  padding-right: 5px;
}

.footer ul li a .f-title {
  position: relative;
  display: block;
  line-height: 55px;
  text-align: center;
  color: var(--grey);
}

.option {
  text-align: end;
}

.box .content {
  display: flex;
  margin-bottom: 10px;
}

.box .content .icon {
  margin: 10px;
}

.box .content .icon img {
  height: 120px;
}

.box .content .content-text {
  margin-left: 20px;
}

.box .content .eventImg img {
  height: 600px;
}

.box-footer {
  border-top: 1px solid var(--lightGrey);
}

.data {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.data-top {
  margin-bottom: 10px;
}

.data-bottom {
  display: flex;
  justify-content: space-between;
}

.datetime {
  color: var(--red);
}

/* Status Button */
.status.pending {
  width: 100px;
  text-align: center;
  padding: 2px 4px;
  background: var(--dimgrey);
  color: var(--white);
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
}

.status.completed {
  width: 100px;
  text-align: center;
  padding: 2px 4px;
  background: var(--completed);
  color: var(--white);
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
}

.status.rejected {
  width: 100px;
  text-align: center;
  padding: 2px 4px;
  background: var(--rejected);
  color: var(--white);
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
}

.status.successfully {
  margin-left: 322px;
  padding: 3px 10px;
  background: var(--yellow);
  display: flex;
  align-items: center;
  color: var(--grey);
  border-radius: 5px;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
}

/* Deposit Page Checkbox */
.checkbox-group {
  margin: 10px;
  text-align: center;
}

.checkbox-group input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid var(--chinesesliver);
  border-radius: 4px;
  margin-right: 8px;
}

.checkbox-group input[type="checkbox"]:checked {
  background-color: var(--chinesesliver);
}

.checkbox-label {
  margin: auto;
  font-size: 16px;
}

.checkbox-group .wallet {
  margin-left: 15px;
}

.checkbox-group .bank {
  margin-left: 15px;
}

.small {
  width: 85%;
}

.box.small.left {
  align-self: flex-start;
  margin-right: auto;
}

.box.small.right {
  align-self: flex-end;
  margin-left: auto;
}

.flex {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.history {
  width: 100%;
  align-self: flex-start;
}

.history-row1 {
  margin-bottom: 10px;
}

.history-row2 {
  border-top: 2px solid var(--white);
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.label {
  width: 90%;
  line-height: 70px;
}

.small {
  width: 85%;
  height: 15%;
}

.box.small.left {
  align-self: flex-start;
  margin-right: auto;
}

.image {
  width: 150px;
  height: 150px;
}

.margin {
  margin-top: 35px;
}

.profile-image {
  width: 45px;
  height: 45px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.profile-image-border {
  width: 55px;
  height: 55px;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
}

.big-title {
  font-weight: 700;
  font-size: 1.5rem;
}